@{
    ViewBag.Title = "About";
}
<h2>About Mental Health Tracker</h2>

<p>This project started as an idea for a school project. </p>
<p>Soon we realized it could be so much more and made it into what it is today. </p>
<p>This is an online mental health journal we can all use and maybe even help us keep track of if we took our medications, how we've been feeling lately, and what we may have been feeling on a particular day.</p>
