@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color:lightblue; color: black">
    <h1>Welcome to the Mental Health Tracker</h1>
    <p class="lead">This project was the brain child of the below developers. What started as an attempt to get our own mental health under control turned into a class project that could be very useful in day to day lives.</p>
</div>

<div class="row">
</div>