@model MentalHealthTracker.Web.Models.EntryDisplayModel
@using Microsoft.AspNet.Identity
@{
	ViewBag.Title = "Health Calculator";
}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Mental Health Tracker - Health Calculator</title>
</head>
<body>
	<div class="container">
		<h2>Mental Health Calculator</h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<tbody>
					@{
						var average = 0;
						var averageString = "";
						var mode = 0;
						var modeString = "";
						var min = 10;
						var minString = "";
						var max = 0;
						var maxString = "";

						var count = 0;
						var total = 0;
						int[] moodTotals = { 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0 };
						string[] moodStrings = { "No Entries", "Depressed", "Angry", "Irritable", "Sad", "Anxious", "Tired", "Indifferent", "Content", "Happy", "Excited" };

						foreach (var entry in Model.Entries.Where(u => u.User == HttpContext.Current.User.Identity.GetUserId()))
						{
							var moodString = entry.Mood.ToString();
							var mood = (int)entry.Mood;
							if (mood < min)
							{
								min = mood;
								minString = moodString;
							}
							if (mood > max)
							{
								max = mood;
								maxString = moodString;
							}
							moodTotals[mood]++;
							count += mood;
							total++;
						}

						average = count / total;

						for (int i = 1; i < 11; i++)
						{
							if (moodTotals[i] > moodTotals[mode])
							{
								mode = i;
							}
						}
						averageString = moodStrings[average];
						modeString = moodStrings[mode];
					}
					<tr>
						<td>
							Average Mood:
						</td>
						<td>
							@averageString
						</td>
					</tr>
					<tr>
						<td>
							Mode Mood:
						</td>
						<td>
							@modeString
						</td>
					</tr>
					<tr>
						<td>
							Best Mood:
						</td>
						<td>
							@maxString
						</td>
					</tr>
					<tr>
						<td>
							Worst Mood:
						</td>
						<td>
							@minString
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>