@{
    ViewBag.Title = "My Error Page";
}
<div style=" padding:20px; color:red">
    <h3>
        Error Page:
    </h3>
    <h4>
        Sorry, an error occurred while processing your request.
    </h4>
    <br />
    <br />
</div>